
<div class="cardion">

  <app-accordion>
    <app-accordion-item title = "text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt veniam ipsa animi, est impedit consectetur maiores repellendus corrupti voluptates recusandae perferendis dolores. Quis itaque soluta ad alias a fuga quidem.</app-accordion-item>
    <app-accordion-item title = "text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptas, at illo facilis quisquam et eligendi repellendus harum quaerat possimus fuga consectetur eum provident labore enim ullam impedit reprehenderit quos.</app-accordion-item>
    <app-accordion-item title = "text3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil libero rerum blanditiis vitae sit ullam facilis ab maxime, quaerat labore quo, totam et nobis optio recusandae inventore mollitia sed perspiciatis!</app-accordion-item>
    <app-accordion-item title = "text4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil libero rerum blanditiis vitae sit ullam facilis ab maxime, quaerat labore quo, totam et nobis optio recusandae inventore mollitia sed perspiciatis!</app-accordion-item>

</app-accordion>
 
  </div>