
.cardion{
    margin:50px ;
    width: 500px;
}
.cardion div{
    margin-bottom: 20px;

}
div{
    width: 100%;
    box-shadow: 0 1px 3px #808080 ;
    font-size: 15px;
    font-weight: 400;
    color:black ;
    background-color: #fff;
    border-radius: 3px;

}